[submodule "ttf-ms-win10"]
	path = ttf-ms-win10
	url = https://aur.archlinux.org/ttf-ms-win10.git
	branch = master
[submodule "sslyze"]
	path = sslyze
	url = https://aur.archlinux.org/sslyze.git
	branch = master
[submodule "qspectrumanalyzer-git"]
	path = qspectrumanalyzer-git
	url = https://aur.archlinux.org/qspectrumanalyzer-git.git
	branch = master
[submodule "siril"]
	path = siril
	url = https://aur.archlinux.org/siril.git
[submodule "portfolio"]
	path = portfolio
	url = https://aur.archlinux.org/portfolio.git
